<% layout('layouts/boilerplate') %> 
    <form action="/campgrounds/<%=found._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Name</label>
            <input value="<%=found.title%>" id="title" type="text" name="campground[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input value="<%=found.location%>" id="location" type="text" name="campground[location]">
        </div>
        <button>Update Campground</button>
    </form>
    <a href="/campgrounds/<%=found._id%> ">Back to Campgrounds</a>