<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
</head>

<body>
    <a href="/campgrounds/new">Make A New Campground</a>
    <h1>All Campgrounds</h1>
    <ul>
        <% for(let c of campgrounds){ %>
            <li><a style="text-decoration: none; color: rgb(17, 144, 194);" href="/campgrounds/<%=c._id%> ">
                    <%=c.title%>
                </a></li>
            <% } %>
    </ul>
</body>

</html>