<% layout('layouts/boilerplate') %> 
    <h1>Campground:<%=found.title%></h1>
    <h3><%=found.location%></h3>
    <a href="/campgrounds">All Campgrounds</a>
    <a href="/campgrounds/<%=found._id%>/edit">Edit This Campground</a>
    <form action="/campgrounds/<%=found._id%>?_method=DELETE" method="POST">
        <button>Delete Campground</button>
    </form>